Repository lundgren98/Zoo, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test

.github/labeler.yml:

source:
- src/main/**/*

test:
- src/test/**/*

Fixed typo and changed Swedish words into English words.
  src/main/java/se/nackademin/Lemur.java
  src/test/java/se/nackademin/LemurTest.java
Labels: source, test

Added JaCoCO coverage plugin.
  pom.xml
Labels: none

Enclosure is now green
  src/main/java/se/nackademin/Enclosure.java
Labels: source

EnclosureTest.java is now packaged.
  src/test/java/se/nackademin/EnclosureTest.java
Labels: test

PersonellTest.java now uses setters instead of assigning
  src/test/java/se/nackademin/PersonellTest.java
Labels: test

removed getter tests
  src/test/java/se/nackademin/EnclosureTest.java
Labels: test

2 tests and methods for Lemur added by Timmy och Mira
  src/main/java/se/nackademin/Lemur.java
  src/test/java/se/nackademin/LemurTest.java
Labels: source, test

Added tests to Personell
  src/test/java/se/nackademin/PersonellTest.java
Labels: test

added setter
  src/main/java/se/nackademin/Lemur.java
  src/test/java/se/nackademin/LemurTest.java
Labels: source, test

Personell tests are now green.
  src/main/java/se/nackademin/Personell.java
  src/test/java/se/nackademin/PersonellTest.java
Labels: source, test

Ändrade version till 0.8.7 - nu verkar det funka
  pom.xml
Labels: none

Ändrade version till 0.8.7 - nu verkar det funka
  pom.xml
Labels: none

added a README with the necessary commands to make jacoco work
  README.md
Labels: none

Lemuren lemurar sig
  src/main/java/se/nackademin/Lemur.java
  src/test/java/se/nackademin/LemurTest.java
Labels: source, test

Now in English with cardinality.
  DESIGN.md
Labels: none

Removed unused code & updated code.
  src/main/java/se/nackademin/Personell.java
  src/test/java/se/nackademin/LemurTest.java
  src/test/java/se/nackademin/PersonellTest.java
Labels: source, test

animal design now denotes type
  DESIGN.md
Labels: none
